<h1><%= @city.site_name  %></h1>
<p><%= @city.tag_line %></p>

<% @city.shows.each do | show | %>
  <p><%= show.start_datetime.strftime("%A, %b %d") %></p>
  <p> 
  <% show.bands.each do |band| %>
    <a target="_blank" href="https://<%= band.bandcamp %>.bandcamp.com"><%= band.name %></a> 
    <%  unless show.bands.last == band %> // <% end %> 
      
  <% end %>
  -<%= print_time show.start_datetime  %> @ <%= show.venue  %>
  </p>
 

<% end %>
<br />
<br />
<br />
<br />
<p><%= link_to "List a show", new_city_show_path(@city)  %></p>
