<h4>List a show</h4>
<%= bootstrap_form_for [:city, @show] do |f| %>
  <%= render 'shared/error_messages' , model:  @show  %>
  <%= f.hidden_field :city_id %>
  <div class="form-group">
    <%= f.text_field_without_bootstrap :start_date, label: "Date", class: "form-control start-date", data: { provide: "datepicker" } %>
    <%= f.select_without_bootstrap :start_time, time_options, {selected: "19:00"},{class: "form-control start-time" } %>
  </div>
  <%= f.text_field :venue %>
  <%= f.text_field :facebook_event %>
  <%= f.fields_for :bands do |b|%>
    <%= b.text_field :name %>
    <%= b.text_field :country %>
  <% end %>  
  <%= f.submit 'Submit' %>
<% end %>

