<%= form_for [:city, @show] do |f| %>
  <%= f.hidden_field :city_id %>
  <%= f.label :start_date, "Date" %>
  <%= f.text_field :start_date, data: { provide: "datepicker" } %><br />
  <%= f.label :start_time, "Time" %>
  <%= f.text_field :start_time %><br />
  <%= f.label :venue %>
  <%= f.text_field :venue %><br />
  <%= f.label :facebook_event %>
  <%= f.text_field :facebook_event %><br />
    <%= f.fields_for :bands do |b|%>
      <p>Band <%= b.options[:child_index] + 1 %></p>
      <%= b.label :Name %>
      <%= b.text_field :name %><br />
      <%= b.label :Country %>
      <%= b.text_field :country %><br />
    <% end %>  
  <%= f.submit 'Submit' %>
<% end %>

